
    <md-toolbar class="md-accent">
        <h2 class="md-toolbar-tools">
            <span flex>Notifications</span>

            <md-input-container>
                <input ng-model="query">
                <md-icon md-svg-icon="material-design:search" aria-label="search"></md-icon>
            </md-input-container>
        </h2>

    </md-toolbar>

    <md-content>
        <md-list flex>


            <md-subheader class="md-no-sticky">
                <div layout="row"  layout-align="space-between center">
                    <div>Unreaded Notification</div>
                    <div><md-button class="md-primary" ng-click="changeVisibility(true)"><span ng-if="showUnreaded">Hide</span><span ng-if="!showUnreaded">Show</span></md-button></div>
                </div>
            </md-subheader>

                <md-list-item class="md-2-line" ng-show="showUnreaded" ng-repeat="notification in notifications  | filter : query" ng-if="notification.dateRead == ''">
                    <img ng-src="https://cdn0.iconfinder.com/data/icons/Mysecret_10icons_by_Artdesigner/128/secret_mail_email_envelope.png" class="md-avatar" alt="" />
                    <div class="md-list-item-text">
                       <b><h3>{{notification.text}}</h3></b>
                        <p><span ng-if="notification.sender != ''">De {{notification.sender}}, </span>Le {{notification.dateSend | date : format : timezone}}</p>
                    </div>
                </md-list-item>



            <md-divider></md-divider>


            <md-subheader class="md-no-sticky">
                <div layout="row"  layout-align="space-between center">
                    <div>Readed Notification</div>
                    <div><md-button class="md-primary" ng-click="changeVisibility(false)"><span ng-if="showReaded">Hide</span><span ng-if="!showReaded">Show</span></md-button></div>
                </div>
            </md-subheader>


                <md-list-item class="md-2-line" ng-show="showReaded" ng-repeat="notification in notifications  | filter : query" ng-if="notification.dateRead != ''">
                    <img ng-src="https://cdn4.iconfinder.com/data/icons/Primo_Icons/PNG/128x128/email_open.png" class="md-avatar" alt="" />
                    <div class="md-list-item-text">
                        <h3>{{notification.text}}</h3>
                        <p><span ng-if="notification.sender != ''">De {{notification.sender}}, </span>Le {{notification.dateSend | date : format : timezone}}</p>
                    </div>
                </md-list-item>

        </md-list>
    </md-content>
</div>

<md-divider></md-divider>
