
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Notifications</span>
        </div>
    </md-toolbar>

    <md-content>
        <md-list flex>

            <md-subheader class="md-no-sticky"> UnReaded notification </md-subheader>

            <input type="text" ngmodel="test2"></p>
            <ng-list-item class="md-2-line" ng-repeat="notification in notifications | filter : test2" ng-if="notification".dataRead ==''">

                <img ng-src="https...." class="md-avatar" alt="" />
                <div class="md-list-item-text">
                    <h3>{{notification.text}}</h3>
                    <p><span ng-if="notification.sender != ''"> de {{ notification.sender}},</span> Le {{notification.dataSend | date :format :t </p>

                </div>
            </ng-list-item>


            <md-subheader class="md-no-sticky">
                <div layout="row"  layout-align="space-between center">
                    <div>Unreaded Notification</div>
                    <div><md-button class="md-primary" ng-click="changeVisibility(true)"><span ng-if="showUnreaded">Hide</span><span ng-if="!showUnreaded">Show</span></md-button></div>
                </div>
            </md-subheader>


                <md-list-item class="md-2-line" ng-show="showUnreaded" ng-repeat="notification in notifications" ng-if="notification.dateRead == ''">
                    <img ng-src="https://cdn3.iconfinder.com/data/icons/mail-call/2126/envelopefancy-128.png" class="md-avatar" alt="" />
                    <b class="md-list-item-text">
                       <b><h3>{{notification.text}}</h3></b>
                        <p><span ng-if="notification.sender != ''">De {{notification.sender}}, </span>Le {{notification.dateSend | date : format : timezone}}</p>
                    </div>
                </md-list-item>



            <md-divider></md-divider>


            <md-subheader class="md-no-sticky">
                <div layout="row"  layout-align="space-between center">
                    <div>Readed Notification</div>
                    <div><md-button class="md-primary" ng-click="changeVisibility(false)"><span ng-if="showReaded">Hide</span><span ng-if="!showReaded">Show</span></md-button></div>
                </div>
            </md-subheader>


                <md-list-item class="md-2-line" ng-show="showReaded" ng-repeat="notification in notifications" ng-if="notification.dateRead != ''">
                    <img ng-src="https://cdn3.iconfinder.com/data/icons/mail-call/2126/envelopeopen-128.png" class="md-avatar" alt="" />
                    <div class="md-list-item-text">
                        <h3>{{notification.text}}</h3>
                        <p><span ng-if="notification.sender != ''">De {{notification.sender}}, </span>Le {{notification.dateSend | date : format : timezone}}</p>
                    </div>
                </md-list-item>

        </md-list>
    </md-content>
</div>

<md-divider></md-divider>
