<div flex-gt-sm="50" flex>

    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Notification</span>
        </div>
    </md-toolbar>

    <md-content>
        <md-list flex>

            <md-subheader class="md-no-sticky">Unreaded Notification</md-subheader>

                <md-list-item class="md-2-line" ng-repeat="notification in notifications" ng-if="notification.dateRead == ''">
                    <img ng-src="https://cdn3.iconfinder.com/data/icons/mail-call/2126/envelopefancy-128.png" class="md-avatar" alt="" />
                    <div class="md-list-item-text">
                        <h3>{{notification.text}}</h3>
                        <p><span ng-if="notification.sender != ''">De {{notification.sender}}, </span>Le {{notification.dateSend | date : format : timezone}}</p>
                    </div>
                </md-list-item>



            <md-divider></md-divider>


            <md-subheader class="md-no-sticky">Readed Notification</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="notification in notifications" ng-if="notification.dateRead != ''">
                    <img ng-src="https://cdn3.iconfinder.com/data/icons/mail-call/2126/envelopeopen-128.png" class="md-avatar" alt="" />
                    <div class="md-list-item-text">
                        <h3>Bienvenue sur AgenMiage</h3>
                        <p>Nous vous souhaitons la bienvenue sur AgenMiage !</p>
                    </div>
                </md-list-item>

        </md-list>
    </md-content>
</div>

<md-divider></md-divider>


</div>
