<div ng-show="index==2" layout-gt-sm="row">
    <md-input-container flex-gt-sm>
        <label>Depuis</label>
        <datepicker>
            <input ng-model="dateDeb"/>
        </datepicker>
    </md-input-container>
    <md-input-container flex-gt-sm>
        <label>Jusqu'à</label>
        <datepicker>
            <input ng-model="dateFin"/>
        </datepicker>
    </md-input-container>
</div>

<div id="toto" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="calendar" ng-if="isAvailable"></div>

<!-- Test d'incorporation de la directive event-->
<div ng-show="currentEvent" layout-gt-sm="row">
    <event eventid="'currentEvent.id'"></event>
</div>
<script>


</script>