<div layout="column" ng-cloak>

    <div ng-include="'pages/_templates/page_title.html'"></div>

    <div ng-if="!displayCode" md-scroll-y layout-sm="column" layout="row" layout-padding>

        <!-- _____ DEMO -->
        <div layout="column" flex>

            <h2 class="title" layout="row" layout-align="start start">
                Directive Render
            </h2>

            <md-card style="padding:10px;overflow: auto" ng-style="{'max-height':maxHeight,'min-height':maxHeight}" layout="column" layout-align="start start" class="page_settings">

                <div ng-include="'pages/notification/code/directive.html'" style="width: 100%"></div>

            </md-card>

        </div>
        <!-- END DEMO -->

    </div>

    <!-- _____ CODE -->
    <md-content layout="column" flex ng-if="displayCode" md-scroll-y ng-style="{'max-height':maxHeight}" layout-padding>
        <div ng-include="'pages/_templates/page_code.html'"></div>
    </md-content>
    <!-- END -->

</div>
